<!DOCTYPE html>
<html lang="en"  >

<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="static/style/style.css">

</head>

<body>
    <div >
        <div >
            <h2 class="page-heading">
                SUM - IT
            </h2>
        </div>
        <div >

            <form class="modal-content " action="/" method="post">

                <div class="container">
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="uname" required>

                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>

                    <button class="blueBtn" type="submit">Login</button>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </div>
                <div class="container" style="background-color:#f1f1f1">
                    <button type="button"  class="cancelbtn">Cancel</button>
                    <span class="psw">New User? <a href="/register">Sign Up</a></span>
                   
                </div>


            </form>
        </div>
    </div>

</body>

</html>
