<!DOCTYPE html>
<html>

<head>
    <title> {{user}} </title>
    <link rel="stylesheet" href="../static/style/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div id='nav'>
        <!--top nav bar -->
        <nav class="nav">
            <img src="../static/images/logo.jpeg" id="logo" width="60" height="60" />
            <a class="toggle-nav" href="#"> ☰ </a>
            <div class="nav-mobile">
                <ul>
                    <li><a href="/logout"><i class="fa fa-user"></i> LOGOUT</a></li>                   
                    <!-- <li><a href="#"><i class="fa fa-sign-in"></i> SIGNUP</a></li> -->
                    <!-- <li><a href="/about.html"><i class="fa fa-info"></i> ABOUT US</a></li> -->
                    <!-- <li><a href="#"><i class="fa fa-envelope"></i> CONTACT US</a></li> -->
                    <li><a href="/create"><i class="fa fa-plus-circle"></i> CREATE SUMMARY</a></li>
                    <!-- <li><a href="#"><i class="fa fa-user"></i> ACCOUNTS</a></li> -->
                    
                </ul>
            </div>
        </nav>
    </div>
    <div class="heading-div">
            <h3 class="page-heading">
                STORED SUMMARIES.
            </h3>
    </div>
    <section>

        <!-- <div class="summary-container">
            <a href="/summarizer">
                <img src="../static/images/add.svg" alt="add new summary" draggable="false" id="addSummary">
            </a>   
        </div> -->
        {% for summary_id, summary, heading in summary_list %}
        <div class="summary-container">
            <a href="https://www.google.com">
                <div class="textbox">
                    <div class="texthead">
                        {{ heading }} 
                    </div>
                    <div class="textbody">
                        {{ summary }}
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}


    </section>
</body>

</html>
